<div class="taskbar-container">
    <div>
        <ul>
            <li [ngClass]="{'closed': item?.isHide}" (click)="toggle(item, i)"
                *ngFor="let item of taskMenu;let i = index">
                {{item.header}}
            </li>
        </ul>
    </div>
    <button (click)="showListBtn()" class="more-btn" *ngIf="isShowMore">
        <span class="pi pi-chevron-up"></span>
    </button>
</div>

<div *ngIf="showList" class="taskbars-morelist">
    <div [ngClass]="{'closed': item?.isHide}" class="task-menu" (click)="toggle(item, i)"
        *ngFor="let item of taskMenu;let i = index">
        <p>{{item.header}}</p>
    </div>
    <div (click)="showList = false" class="overlay"></div>
</div>