<div class="taskbar-container">
    <div class="taskbar-list-container">
        <ul>
            <li [attr.data-id]="i" [ngClass]="{'closed': item?.isHide, 'active': item?.isFocused && !item?.isHide}" (click)="toggle(i)"
                *ngFor="let item of displayList;let i = index">
                <p>
                    {{item?.headerConfig?.title}}
                </p>
            </li>
        </ul>
    </div>
    <button (click)="showListBtn()" class="more-btn" *ngIf="isShowMore">
        <span class="pi pi-chevron-up"></span>
    </button>
    <div class="time-box">
        <p>{{currentTime}}</p>
    </div>
</div>

<div *ngIf="showList" class="taskbars-morelist">
    <div [ngClass]="{'closed': item?.isHide}" class="task-menu" (click)="toggle(i, 'hiddenList')"
        *ngFor="let item of hiddenList;let i = index">
        <p>{{item?.headerConfig?.title}}</p>
    </div>
    <div (click)="showList = false" class="overlay"></div>
</div>