<div class="taskbar-container">
    <div>
        <ul>
            <li (click)="toggle(item, i)" *ngFor="let item of taskMenu;let i = index">
                {{item.header}}
            </li>
        </ul>
    </div>
    <button (click)="showListBtn()" class="more-btn" *ngIf="isShowMore">
        <span class="pi pi-chevron-up"></span>
    </button>
</div>

<div *ngIf="showList" class="taskbars-morelist">
    <div class="task-menu" (click)="toggle(item, i)" *ngFor="let item of taskMenu;let i = index">
        <p>{{item.header}}</p>
    </div>
</div>