<div>
  <p-button (click)="showDialog()" label="Add"></p-button>
  <!-- <p-button (click)="showDialog1()" label="Add"></p-button>
  <p-button (click)="showDialog2()" label="Add"></p-button> -->
</div>
<div class="container">
  <ng-container *ngFor="let dialog of dialogsList;let i = index">
    <custom-dialog [config]="config" [hidden]="dialog.isHide" [header]="dialog.header" [maximizable]="true" [(visible)]="dialog.isVisible" [style]="{width: '50vw'}" [baseZIndex]="10000" [resizable]="true" (visibleChange)="visibleChanged($event, i)" [HeaderStyle]="{'background-color': '#d0e5f1'}" (onMaximize)="onMaximize($event, i)" (onMinimize)="onMinimize($event, i)">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="closeDialog(dialog)" label="Yes" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="closeDialog(dialog)" label="No"></p-button>
      </ng-template>
    </custom-dialog>
  </ng-container>
</div>

<app-taskbar *ngIf="config?.showTaskBar && dialogsList.length" [menuCout]="dialogsList.length" (visibleToggleed)="visibleToggleed($event)" [taskMenu]="dialogsList"></app-taskbar>