<div>
    <div class="p-formgroup-inline">
        <div class="p-field">
            <label for="firstname">Firstname</label>
            <input id="firstname" type="text" placeholder="Firstname">
        </div>
        <div class="p-field">
            <label for="lastname">Lastname</label>
            <input id="lastname" type="text" placeholder="Lastname">
        </div>
        <div class="p-field">
            <label>Email</label>
            <input type="text" placeholder="Email">
        </div>
        <div class="p-field">
            <label for="address">Address</label>
            <textarea id="address" type="text" rows="4"></textarea>
        </div>
        <p-button label="Submit"></p-button>
    </div>
</div>