/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  // background-color: rgba($color: #157fcc, $alpha: 1);
  background-color: #3B6EA5;
  background-image: url("./assets/Green-Logo-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
